/* Basic styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 10px;
  overflow-x: hidden;
}

hr.index {
  border: 1px solid #2d2d2d;
}
a {
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  text-decoration: underline solid transparent 2px;
  transition: text-decoration 1s ease;
}
p {
  color: #2d2d2d;
}

h1 {
  font-family: Playfair Display;
}

img {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border: 2px solid white;
}


/*nav bar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.5rem 1rem;
  position: relative;
  height: 50px;
  z-index: 9999;
}

.logo {
  color: darkslateblue;
  font-size: 1.5rem;
  font-family: Playfair Display;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

.nav-menu li a {
  display: block;
  color: darkslateblue;
  padding: 0.5rem 1rem;
  z-index: 999;
  font-weight: 200;
}

.nav-menu li a:hover {
  color: darkorchid;
}

.nav-toggle {
  display: none;
}

/* Container for all posts */
#all-posts-container {
  margin: auto;
}

/* Individual post */
.post {
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: auto;
  max-width: 798px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; /* Center the images within the post content */
}

.post-image {
  margin: 0 auto; /* Center the featured images */
}

.post img {
  width: 400px;
  height: auto;
  margin: 0;
}

@media (max-width: 600px) {
  .post div {
    width: 360px;
  }
  .post img {
    width: 290px;
  }
}

/* Post title */
.post h2 {
  font-size: 24px;
  margin-bottom: 1rem;
  font-family: Playfair Display;
}

/*image modals */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* Post content */
.post div {
  font-size: 16px;
  line-height: 1.5;
}

#gallery-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*hero image front page */

.hero {
  position: relative;
  background-image: url("images/hero-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  z-index: -1;
}

.hero-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 28pt;
  text-align: center;
  line-height: 1.2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: Playfair Display;
}

/*stickied posts*/

.content-section {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.post-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-grid .post-wrapper {
  display: flex;
  flex-direction: column;
}

.post-grid .image-wrapper {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.post-grid h3 {
  margin-top: 0.5rem;
  text-align: center;
}

.post-grid img {
  width: 48%;
  margin-bottom: 1rem;
  object-fit: cover;
}
.main-content {
  display: flex;
  flex-wrap: wrap;
}

#latest-posts-section {
  flex: 1;
  margin-right: 2rem;
  width: auto;
}
#latest-posts-section h2 {
  font-family: Playfair Display;
}

/*author info blurb */
.author-info {
  width: 30%;
  flex-basis: 300px;
}

.author-info p {
  font-family: Lato;
  opacity: 0.8;
}

.author-info h2,
h3 {
  font-family: Playfair Display;
  color: #2d2d2d;
  opacity: 0.8;
}

.author-info img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*social media content */
.social-media {
  margin-top: 2rem;
}

.social-media ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.social-media ul div {
  width: 48%;
}

.social-media li {
  margin-bottom: 0.5rem;
}

.social-media a {
  color: darkslateblue;
  text-decoration: none;
  font-weight: 400;
}

.social-media a:hover {
  color: darkorchid;
}

.social-media i {
  margin-right: 0.5rem;
}

/*contact form*/
.container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: slateblue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: plum;
}

#load-more-container {
  width: 100px;
  margin: auto;
  margin-top: 10px;
}

@media (max-width: 480px) {
  .container {
    width: 90%;
  }
}

/*author page*/
.container-author {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.container-author img {
  width: 300px;
}

h1 {
  text-align: center;
}
h2 {
  font-family: Playfair Display;
}

#author-info {
  margin-top: 20px;
}

.post-preview-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100% !important; 
  height: auto !important; 
  margin-bottom: 20px;
  padding: 10px;
  font-family: Lato;
  font-size: 18px;
}

.post-preview-wrapper button {
  width: 150px;
  margin-bottom: 10px;
}


/* Gallery styles */
#gallery-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 20px;
}

.image-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.image-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-wrapper:hover .image-title {
  opacity: 1;
}

@media (max-width: 768px) {
  .image-wrapper {
    width: calc(50% - 7.5px);
  }

  .image-title {
    opacity: 1;
    border-radius: 5px;
  }
}

#post-container {
  text-align: center;
  width: 800px;
  margin: 0 auto;
  padding: 5px;
  line-height: 1.5;
}

#post-container img {
  width: 800px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#post-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/*footer */

footer {
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: slateblue;
  text-decoration: none;
  margin-right: 10px;
  font-weight: 100;
}

footer a:hover {
  color: plum;
}

.fa {
  margin-right: 5px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.search-container input[type="text"] {
  margin-right: 5px;
  padding: 8px;
  border-radius: 5px;
  border-style: hidden;
  border: solid 1px plum;
}

@media (max-width: 768px) {
  .left-links,
  .right-links {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  #post-container {
    width: 365px;
  }
  #post-container img {
    width: 265px;
  }
  .post-image {
    width: auto;
  }
}

#category-filter {
  margin: 20px;
}

#category-select {
  padding: 5px;
  display: flex;
  flex-direction: column;
}


/* Latest Posts styles */
.post-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.post-wrapper {
  width: 200px;
}

#pagination-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 29px;
}

#pagination-container button {
  width: 90px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .navbar {
    height: 40px;
  }

  .nav-toggle {
    display: block;
    color: darkslateblue;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .nav-menu.responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
  }

  .nav-menu.responsive li {
    margin-top: 1px;
  }

  .hero-text {
    font-size: 20pt;
    top: 10%;
  }

  .content-section {
    flex-direction: column;
  }

  .popular-posts {
    width: 100%;
  }

  .author-info {
    width: 100%;
    flex-basis: auto;
    padding: 5px;
    font-family: Lato;
  }

  #gallery-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    bottom: 20%;
  }

  #gallery-container .image-wrapper {
    width: 45%;
  }
}

@media (max-width: 480px) {
  /*iphone and droid safety styles */
  .hero-text {
    top: 10%;
    font-size: 16pt;
  }
}

@media (max-width: 1020px) {
  /*iphone and droid safety styles */
  .hero-text {
    top: 10%;
    font-size: 22pt;
  }
  .navbar {
    height: 40px;
  }
}
